<p-toast></p-toast>

<p-toolbar styleClass="mb-6">
  <ng-template #start>
    <p-button
      label="New"
      icon="pi pi-plus"
      severity="secondary"
      class="mr-2"
      (onClick)="openNew()" />
    <p-button
      severity="secondary"
      label="Delete"
      icon="pi pi-trash"
      outlined
      (onClick)="deleteSelectedEnvironments()"
      [disabled]="!selectedEnvironments || !selectedEnvironments.length" />
  </ng-template>

  <ng-template #end>
    <p-button
      label="Export"
      icon="pi pi-upload"
      severity="secondary"
      (onClick)="exportCSV()" />
  </ng-template>
</p-toolbar>

<p-table
  #dt
  [value]="environments()"
  [rows]="10"
  [columns]="cols"
  [paginator]="true"
  [globalFilterFields]="['name','client.name','isProduction']"
  [tableStyle]="{ 'min-width': '60rem' }"
  [(selection)]="selectedEnvironments"
  [rowHover]="true"
  dataKey="id"
  currentPageReportTemplate="Showing {first} to {last} of {totalRecords} environments"
  [showCurrentPageReport]="true"
  [rowsPerPageOptions]="[10, 20, 30]"
>
  <ng-template #caption>
    <div class="flex items-center justify-between">
      <h5 class="m-0">Manage Environments</h5>
      <p-iconfield>
        <p-inputicon styleClass="pi pi-search" />
        <input
          pInputText
          type="text"
          (input)="onGlobalFilter(dt, $event)"
          placeholder="Search..." />
      </p-iconfield>
    </div>
  </ng-template>

  <ng-template #header>
    <tr>
      <th style="width: 3rem">
        <p-tableHeaderCheckbox />
      </th>
      <th pSortableColumn="name">
        Name <p-sortIcon field="name" />
      </th>
      <th pSortableColumn="isProduction">
        Production? <p-sortIcon field="isProduction" />
      </th>
      <th pSortableColumn="client.name">
        Client <p-sortIcon field="client.name" />
      </th>
      <th>Operations</th>
    </tr>
  </ng-template>

  <ng-template #body let-env>
    <tr>
      <td>
        <p-tableCheckbox [value]="env" />
      </td>
      <td><p-tag [value]="env.name"
        [severity]="env.name ? 'warn' : 'danger'" /></td>
      <td>
        <p-tag [value]="env.isProduction ? 'PROD' : 'NON-PROD'"
               [severity]="env.isProduction ? 'success' : 'danger'" />
      </td>
      <td>
        
        <p-tag [value]="env.client?.name "
        [severity]="env.client?.name  ? 'info' : 'danger'" />

      </td>
      <td>
        <p-button
          icon="pi pi-pencil"
          class="mr-2"
          [rounded]="true"
          [outlined]="true"
          (click)="editEnvironment(env)" />
        <p-button
          icon="pi pi-trash"
          severity="danger"
          [rounded]="true"
          [outlined]="true"
          (click)="deleteEnvironment(env)" />
      </td>
    </tr>
  </ng-template>
</p-table>

<p-dialog
  [(visible)]="dialogOpen"
  [modal]="true"
  [style]="{'width':'100%', 'max-width':'480px'}"
  header="Environment Details"
>
  <ng-template #content>
    <div class="flex flex-col gap-6">

      <!-- Row 1: Name & Client -->
      <div class="flex flex-col md:flex-row gap-5 w-full">
        <!-- Name -->
        <div class="flex-1 min-w-0 flex flex-col">
          <label class="block font-bold mb-2">Name</label>
          <input
            type="text"
            pInputText
            [(ngModel)]="environment.name"
            placeholder="Enter environment name"
            required
            autofocus
            class="w-full min-w-0"
          />
        </div>

        <!-- Client -->
        <div class="flex-1 min-w-0 flex flex-col">
          <label class="block font-bold mb-2">Client</label>
          <p-select
            [options]="clients"
            optionLabel="name"
            [(ngModel)]="selectedClient"
            placeholder="Select a client"
            class="w-full min-w-0"
          >
          </p-select>
        </div>
      </div>

      <!-- Row 2: Is Production -->
      <div class="flex items-center gap-3">
        <label class="font-bold">Is Production :</label>
        <span class="text-red-400 font-semibold">Off</span>
        <p-inputSwitch [(ngModel)]="environment.isProduction"></p-inputSwitch>
        <span class="text-green-400 font-semibold">On</span>
      </div>

    </div>
  </ng-template>

  <ng-template #footer>
    <p-button label="Cancel" icon="pi pi-times" text (click)="hideDialog()" />
    <p-button label="Save" icon="pi pi-check" (click)="saveEnvironment()" />
  </ng-template>
</p-dialog>

<p-confirmdialog [style]="{ width: '450px' }" />
