<p-toast></p-toast>

<p-toolbar styleClass="mb-6">
  <ng-template #start>
    <p-button
      label="New"
      icon="pi pi-plus"
      severity="secondary"
      class="mr-2"
      (onClick)="openNew()" />
    <p-button
      severity="secondary"
      label="Delete"
      icon="pi pi-trash"
      outlined
      (onClick)="deleteSelectedClients()"
      [disabled]="!selectedClients || !selectedClients.length" />
  </ng-template>

  <ng-template #end>
    <p-button
      label="Export"
      icon="pi pi-upload"
      severity="secondary"
      (onClick)="exportCSV()" />
  </ng-template>
</p-toolbar>

<p-table
  #dt
  [value]="clients()"
  [rows]="10"
  [columns]="cols"
  [paginator]="true"
  [globalFilterFields]="['id','name']"
  [tableStyle]="{ 'min-width': '50rem' }"
  [(selection)]="selectedClients"
  [rowHover]="true"
  dataKey="id"
  currentPageReportTemplate="Showing {first} to {last} of {totalRecords} clients"
  [showCurrentPageReport]="true"
  [rowsPerPageOptions]="[10, 20, 30]"
>
  <ng-template #caption>
    <div class="flex items-center justify-between">
      <h5 class="m-0">Manage Clients</h5>
      <p-iconfield>
        <p-inputicon styleClass="pi pi-search" />
        <input
          pInputText
          type="text"
          (input)="onGlobalFilter(dt, $event)"
          placeholder="Search..." />
      </p-iconfield>
    </div>
  </ng-template>

  <ng-template #header>
    <tr>
      <th style="width: 3rem">
        <p-tableHeaderCheckbox />
      </th>
      <th pSortableColumn="id">
        ID <p-sortIcon field="id" />
      </th>
      <th pSortableColumn="name">
        Name <p-sortIcon field="name" />
      </th>
      <th>Operations</th>
    </tr>
  </ng-template>

  <ng-template #body let-client>
    <tr>
      <td>
        <p-tableCheckbox [value]="client" />
      </td>
      <td><p-tag [value]="client.id"
        [severity]="client.id ? 'info' : 'danger'" /></td>
      <td> <p-tag [value]="client.name"
        [severity]="client.name ? 'success' : 'danger'" />
    </td>
      <td>
        <p-button
          icon="pi pi-pencil"
          class="mr-2"
          [rounded]="true"
          [outlined]="true"
          (click)="editClient(client)" />
        <p-button
          icon="pi pi-trash"
          severity="danger"
          [rounded]="true"
          [outlined]="true"
          (click)="deleteClient(client)" />
      </td>
    </tr>
  </ng-template>
</p-table>

<p-dialog
  [(visible)]="dialogOpen"
  [style]="{ width: '480px' }"
  header="Client Details"
  [modal]="true"
>
  <ng-template #content>
    <div class="flex flex-col gap-6">
      <div>
        <label class="block font-bold mb-2">Client Name</label>
        <input
          type="text"
          pInputText
          [(ngModel)]="client.name"
          placeholder="Enter client name"
          required
          autofocus 
          
          />
      </div>
    </div>
  </ng-template>

  <ng-template #footer>
    <p-button label="Cancel" icon="pi pi-times" text (click)="hideDialog()" />
    <p-button label="Save" icon="pi pi-check" (click)="saveClient()" />
  </ng-template>
</p-dialog>

<p-confirmdialog [style]="{ width: '450px' }" />

